.git
src/.env
src/.env.*
src/node_modules
src/vendor
src/storage/logs/*
src/storage/framework/cache/*
src/storage/framework/sessions/*
src/storage/framework/views/*
src/bootstrap/cache/*
src/public/storage
docker-compose.yml
Dockerfile
.dockerignore
